#showArea {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    margin-top: 30px;
}

#toggleButtons {
    margin: auto;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

#toggleButtons>* {
    height: 50px;
    border-radius: 10px;
}

form#newContent {
    display: none;
    flex-direction: column;
    margin: auto;
    width: 75%;
    align-items: center;
}

form#filterContent {
    display: block;
    margin: auto;
}

.formRow {
    width: 400px;
    font-size: 1.3em;
}

article.opinion {
    border: 1px solid red;
}

article.recipe {
    border: 1px solid lightskyblue;
}

article.update {
    border: 1px solid lightseagreen;
}

.marker {
    float: right;
    font-size: 1.5em;
}

.date {
    float: left;
    font-size: 1.5em;
}


.opinion .marker {
    background-color: red;
}

.recipe .marker {
    background-color: lightskyblue;
}

.update .marker {
    background-color: lightseagreen;
}




body {
    padding: 0;
    margin: 0;
    width: 100%;
}

main {
    width: 100%;
}

main h1 {
    text-align: center;
    font-size: clamp(12px, 4vw, 24px);
}


header {
    background-color: goldenrod;
    text-align: center;
    position: sticky;
    top: 0px;
    font-size: 2.5vw;
    width: 100%;
    margin: 0;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main>div#articleList {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

article {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: justify;
    font-size: clamp(8px, 1.5vw, 12px);
    border-radius: 5px;
}



footer {
    padding-top: 5vh;
    font-size: 2vw;
    padding-bottom: 10vh;
    color: white;
    background-color: black;
}

a:visited {
    color: darkblue;
}

footer p {
    text-align: center;
    margin: auto;
    width: 50%;

}

address>div {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    background-color: black;
}

nav button {
    color: white;
    background-color: blue;
    text-decoration: none;
    font-size: 1.5vw;
    display: inline;
    width: 20%;
    padding: 1vw 0vw;
    text-wrap-mode: nowrap;
}

nav button:hover {
    background-color: darkgoldenrod;
}

nav button:active {
    background-color: gold;
}





@media screen and (max-width: 600px) {
    article {
        width: 75%;
        margin: auto;
    }
}

@media screen and (max-width: 1000px) {

    main {
        width: 100%;
    }

    header {
        width: 100%;
    }
}

/* --- Added Assignment Styles --- */

/* 1. First Letter Styling */
article p:first-of-type::first-letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    float: left;
    margin-right: 5px;
    line-height: 1;
}

/* 2. Link Arrow */
article a::after {
    content: " \2192";
    /* Unicode arrow -> */
    font-weight: bold;
    color: red;
}

/* 3. Article Hover Effects */
article {
    transition: all 2s ease;
    color: #555;
}

article:hover {
    color: #000;
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

/* 4. Nav Link Hover Colors */
nav button:hover {
    background-color: darkgoldenrod;
    color: #fff;
}

/* 5. Dropdown Menu Styles */
.dropdown {
    position: relative;
    display: inline-block;
    width: 20%;
}

.dropdown>button {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: blue;
}